meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
meta(http-equiv='X-UA-Compatible' content='ie=edge')

// Основные файлы стилей
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css")
link(rel='stylesheet' href='css/libs.min.css')
link(rel='stylesheet' href='css/style.css')

// Favicon
link(rel="shortcut icon" href="img/Death-Star-icon_34500.png" type="image/png")

title Document

// Chrome, Firefox OS and Opera
meta(name='theme-color' content='#EBEBEB')
// Windows Phone
meta(name='msapplication-navbutton-color' content='#EBEBEB')
// iOS Safari
meta(name='apple-mobile-web-app-status-bar-style' content='#EBEBEB')