html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button:focus,
input:focus {
  outline: transparent;
}

h1 {
  @include adaptiv-value("font-size", 40, 20, 1);
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  max-width: $container;
  padding: 0 15px;
  margin: 0 auto;
  z-index: 999;
}
