@mixin adaptiv-value($property, $startSize, $minSize, $type) {
   $addSize: $startSize - $minSize;
   $compensating_number_1: $maxWidthContainer - 320;
   $compensating_number_2: $maxWidthCanvas - 320;

   @if $type==1 {
      // Только если меньше контейнера
      #{$property}: $startSize + px;
      @media (max-width: #{$maxWidthContainer + px}) {
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$compensating_number_1}));
      }
   } @else if $type==2 {
      // Только если больше контейнера
      #{$property}: $startSize + px;
      @media (min-width: #{$maxWidthContainer + px}) {
         #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$compensating_number_2}));
      }
   } @else {
      // Всегда
      #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$compensating_number_2}));
   }
}
