// ------- Width variable---------
$minWidth: 320;
$maxWidthCanvas: 1270;
$maxWidthContainer: 1170;

$min: #{$minWidth + px};
$canvas: #{$maxWidthCanvas + px};
$container: #{$maxWidthContainer + px};

// ------- Color variable---------
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);

@import "includes/mixins";
